*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #111119;
}

#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

#banner img {
    max-width: 100%;
    height: auto;
    display: block;
}


#menu ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 10px;
}

#menu ul li a{
    color: #0A0382;
    font-size: 1rem;
    cursor: pointer;
}

#menu ul li img{
    width: 15%;
}


#menu ul li a:hover{
    border-bottom: 3px solid #433bd1;
}

.curiosidades{
    margin-top: 25vh;
    color: white;
    text-align: center;
    height: 50vh;
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.curiosidades #curiosidades-bg{
    z-index: 1;
    opacity: 20%;
    max-width: 100%;
    position:absolute
}

.curiosidades #curiosidades-bg img{
    max-width: 100%;
}

.curiosidades #curiosidadestxt{
    color: white;
    position: absolute;
    z-index: 100;
}

.curiosidades h3{
    padding: 10px;
}

.contato{
    margin-top: 20vh;
    color: white;
    text-align: center;
}

.contato h3{
    padding: 10px;
}

.contato input{
    margin-top: 2vh;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.contato button{
    margin-top: 2vh;
    padding: 10px;
    border-radius: 10px;
    background-color: #D80000;
    color: white;
    font-size: 1rem;
    border: none;
}

.contato button:hover{
    background-color: #881111;
}

footer{
    background-color: #D80000;
    color: white;
    margin-top: 15vh;
    padding: 20px;
    text-align: center;
}