@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

body {
  font-family: 'Inter';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Inter';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 2.489rem; /* 39.84px */}

h2 {font-size: 2.074rem; /* 33.12px */}

h3 {font-size: 1.728rem; /* 27.68px */}

h4 {font-size: 1.440rem; /* 23.04px */}

h5 {font-size: 1.200rem; /* 19.2px */}

small {font-size: 0.833rem; /* 13.28px */}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: #111119;
}

#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

#banner img {
    max-width: 100%;
    height: auto;
    display: block;
}


#menu ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 10px;
}

#menu ul li a{
    color: #0A0382;
    font-size: 1rem;
    cursor: pointer;
}

#menu ul li img{
    width: 15%;
}


#menu ul li a:hover{
    border-bottom: 3px solid #433bd1;
}

.curiosidades{
    margin-top: 25vh;
    color: white;
    text-align: center;
}

.curiosidades h3{
    padding: 10px;
}

.contato{
    margin-top: 10vh;
    color: white;
    text-align: center;
}

.contato h3{
    padding: 10px;
}

.contato input{
    margin-top: 2vh;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.contato button{
    margin-top: 2vh;
    padding: 10px;
    border-radius: 10px;
    background-color: #D80000;
    color: white;
    font-size: 1rem;
    border: none;
}

.contato button:hover{
    background-color: #881111;
}

footer{
    background-color: #D80000;
    color: white;
    margin-top: 15vh;
    padding: 20px;
    text-align: center;
}